<div class="sign-up-panel">
  <div class="well">
    <header>
      <div class="panel-header-text">Sign in</div>
    </header>
    <div class="inside-panel">
      <p>To access the Plasmid list, please sign in with your last name.</p>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.text_field :username, :autofocus => true, :placeholder => :username, :class => 'input-large' %>
        <%= f.submit "Sign in", :class => "btn btn-success btn-sign-in" %>
        <%= f.password_field :password, :value => "none", :style => "display:none;" %>
      <% end %>
    </div>
  </div>
  <div class="sign-up-terms">Need an account ? <%= mail_to "daniel.jurczak@imba.oeaw.ac.at", "Contact Daniel Jurczak @ BrenneckeLab" %></div>
</div>
