<div class="row">
	<div class="span12 index-container">
    <div class="row">
      <div class="span6">
        <div class="buttons">
          <%= link_to icon("Add", :plus, :white), new_plasmid_path, :class => "btn btn-primary" %>
        </div>
      </div>
      <div class="span6">
        <div class="form-search">
          <input type="text" class="input-medium search-query">
          <button type="submit" class="btn">Search</button>
        </div>
      </div>
    </div>
   <div class="form-well-box">
      <div class="form-well-title">
        <span class="icon"><i class="icon-th-list"></i></span>
        <h5> Available Plasmids </h5>
      </div>
      <div class="form-well-content">
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gene/Insert</th>
            <th>Author</th>
            <th>Modified</th>
            <th></th>
          </tr>

        <% @plasmids.each do |plasmid| %>
          <tr>
            <td><%= plasmid.internal_id %></td>
            <td><%= link_to plasmid.name.html_safe, plasmid_path(plasmid) %></td>
            <td><%= plasmid.info.fetch("gene_insert") { "n/a" } %></td>
            <td><%= plasmid.author.username %></td>
            <td><%= plasmid.updated_at.strftime("%d/%m/%Y") %></td>
            <td><%= link_to icon("", :trash, :white), plasmid, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
	</div>
</div>
