<!DOCTYPE html>
<html>
<head>
  <title>LabLife</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({ google: ['Open Sans:400,700'] }) %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>

  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet"/>
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/wysiwyg-color.css" rel="stylesheet"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/inputs-ext/wysihtml5/wysihtml5.js"></script>
</head>
  <body style="font-family:Open Sans;">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">BrenneckeLab</a>

            <ul class="nav">
              <li><a href="<%= plasmids_path %>">Plasmids</a></li>
            </ul>

            <div class="pull-right">
              <% if author_signed_in? %>
                <ul class="nav">
                  <li><a class="author_name" href="#"><%= current_author.username %></a></li>
                </ul>
                <a class="btn btn-danger btn-logout" href="<%= destroy_author_session_path %>">Sign out</a>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <div class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>
  </body>
</html>
